.p {
  display: block;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 30px;
  margin-bottom: 2%;
}

.h1 {
  color: rgb(0, 0, 0);
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 45px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.h2 {
  color: rgb(0, 0, 0);
  padding-top: 5%;
  font-size: 45px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.pics {
  height: 250px;
  width: 250px;
  margin-bottom: 10px;
}


.container {
  background-color: rgb(227, 234, 243);
  /*  
    background-image: url("/images/dontdoit.jpg");
    border-radius: 10%;
    */
  padding-bottom: 5%;
}

.team {
  width: 20%;
  display: inline-block;
}

.pTeam {
  margin: 0%;
  font-size: 16px;
}

.test {
  display: flex;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 1%;
}

.container3 {
  background-color: rgb(255, 255, 255);
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 50px;
  padding-bottom: 2%;
  margin-top: 3%;
  min-width: 500px;
}

.h3 {
  margin-top: 1%;

}

.pHelp {
  display: block;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
  margin-bottom: 2%;
}

.container2 {
  padding-top: 4%;
  padding-left: 2%;
}

.img2 {



}

.bkg {
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 15%;
  background-image: url("/images/bkg2.png");

}