.barchart{
    width: 100%;
}
.finter_kingdom{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 32px;
    padding-left: 15px;
    height: auto;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    right: 0;
    background-color: rgb(22, 20, 20, 0.6);
    border-radius: 10px;
    box-shadow: 10px 10px 100px 10px rgba(0, 0, 0, 0.15);
    margin-right: 10px;
    margin-top: 80px;
}

.center {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.center h1 {
    color: white !important;
}

.details {
    background-color:   #212226;
}