.filters{
    color: #ffffff;
    font-size: 18px;
    background-color: #161414;
}
.category{
    margin-top: 10px;
    color:white !important;
    width: 80%;
}
.category_threats{
    width: 90%;
    padding-top: 30px;
    color:white !important;
}
.text{
    color:white !important;
    font-size: medium;
    margin-left: 8px;
}
.kingdom{
    width: 100%;
    padding-top: 30px;
}
