.navbar {
   display: flex;
   flex-direction: row;
   color:white;
   width: 100%;
   height: 50px;
   background-color: white;
   color: #242424;
  /* background-color: #2C2C2C;
   background-color: #242424;*/
}
.navbar {
   margin: 0;
}

.navitem {
   margin: 0;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 30px;
   padding-bottom: 20px;
   color: #242424;
   text-decoration:none;
}
.navitem:hover{
   transition: .5s all ease-in-out;
   text-decoration:none;
   background-color: #212226;
   color: white;
}
.Link{
   
   margin: 0;
   padding: 10px 50px;
   color: white;
}
.right {
   font-family: Geneva, Arial, Helvetica, sans-serif;
   font-size: 32px;
   padding-left: 20px;
   height: 100%;
   width: 18%;
   position: fixed;
   z-index: 1;
   top: 0;
   overflow-x: hidden;
   padding-top: 20px;
   right: 0;
   background-color: white;
   border-radius: 10px 0px 0px 10px;
 }
.right_min{ 
   padding: 10px;
   height: 100%;
   width: 5%;
   position: fixed;
   z-index: 1;
   top: 0;
   overflow-x: hidden;
   padding-top: 20px;
   right: 0;
   background-color: #33333E;
   border-radius: 10px 0px 0px 10px;
}