.popupWindow{
    position: absolute;
    margin-left: 25vw;
    width: auto;
    height: auto;
    background: #FFFFFF;
    box-shadow: 10px 10px 100px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 50px;
    padding-top: 10px;
}
.image_close{
    position: absolute;
    width: 15px;
    margin-top: 0px;
    left: 97%;
    opacity: 70%;
}
.image_min{
    position: absolute;
    width: 15px;
    margin-top: 0px;
    left: 94%;
    opacity: 70%;
}
.image_close:hover{
    width: 15.5px;
    opacity: 100%;
}
.image_min:hover{
    width: 15.5px;
    opacity: 100%;
}
.table {
    margin-top: 20px;
    width: 50vw;
    overflow-y: auto;
 }
.th, .td {
    padding-bottom: 5px;
}
.dots{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    margin-bottom: 50px;
    opacity: 70%;
}
.dots:hover{
    width: 33px;
    opacity: 100%;
}
.threats:hover{
    font-weight: 200;
}
.allThreats{
    font-weight: 600;
}
.name{
    width: 100px;
}
.category{
    width: 100px;
}
.threat{
    width: 200px;
}
.kingdom{
    width: 60px;
}