.sidebar{
    position: absolute;
    margin-left: 25vw;
    width: auto;
    height: auto;
    background: #FFFFFF;
    box-shadow: 10px 10px 100px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 50px;
    padding-top: 10px;
}
.image_close{
    position: relative;
    width: 20px;
    margin-top: 0px;
    left: 99%;
    opacity: 70%;
}
.image_min{
    position: relative;
    width: 20px;
    margin-top: 0px;
    left: 98%;
    opacity: 70%;
}
.image_close:hover{
    width: 20.5px;
    opacity: 100%;
}
.image_min:hover{
    width: 20.5px;
    opacity: 100%;
}
.table {
    margin-top: 20px;
    width: 50vw;
    overflow-y: auto;
 }
.th, .td {
    padding: 15px 15px;
}
.dots{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 45%;
    margin-bottom: 50px;
    opacity: 70%;
}
.dots:hover{
    width: 53px;
    opacity: 100%;
}
.threats:hover{
    font-weight: 200;
}
.allThreats{
    font-weight: bold;
}
.name{
    width: 100px;
}
.category{
    width: 100px;
}
.threat{
    width: 200px;
}
.kingdom{
    width: 80px;
}